---
// src/pages/chat.astro
import Layout from '../layouts/Layout.astro';
import ChatForm from '../components/Chat';
import ProtectedRoute from '../components/ProtectedRoute';
---

<Layout title="Chat Legal - Asistente IA">
  <main>
    <ProtectedRoute client:load>
      <ChatForm client:load />
    </ProtectedRoute>
  </main>
</Layout>